@import '../variables.scss';
@import '../mixines.scss';
.advantages{
    padding: 85px 0 100px;
    &__underline{
        @include position(relative,0, 0,0,32em);
    }
    &-wrapper{
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2,auto);
        gap:30px;
    }
    &__box{
        @include bac-col-rad($light-accent, 20px);
        padding: 42px 90px 42px 100px;
        &-text{
            align-self: center;
        }
        &-img{
            width: 150px;
            margin-right: 50px;
            align-self: center;
        }
        &-one{
            grid-column: 8/-1;
            grid-row: 1;
        }
        &-two{
            grid-column: 1/6;
            grid-row: 2;
        }
        &-wthimg{
            padding: 20px 50px 20px 30px;
            &-one{
                grid-column: 1/8;
                grid-row: 1;
                display: flex;
            }
            &-two{
                grid-column: 6/-1;
                grid-row: 2;
                display: flex;
                padding-right: 130px;
            }
        }
    }
}