.app{
    padding: 100px 0 130px;
    background-color: $back-acc-col;
    &-wrapper{
        display: flex;
        gap:70px;
        margin-bottom: 55px;
        justify-content: space-between;
    }
    &__info{
        &-box{
            display: flex;
            width: 520px;
            margin-bottom: 45px;
            &-img{
                margin-right: 30px;
            }
        }
    }
    &__img{
        position: relative;
        bottom: 15px;
    }
}