@import '../variables.scss';
@import '../mixines.scss';
.app{
    @include section(100px 0 130px);
    &-wrapper{
        @include flex(0, space-between,70px);
        margin-bottom: 55px;
    }
    &__info{
        &-box{
            display: flex;
            width: 520px;
            margin-bottom: 45px;
            &-img{
                margin-right: 30px;
            }
        }
    }
    &--btn-center{
        @include flex(center,center);
    }
    &__img{
        @include position(relative,0,15px);
    }
}