@import '../variables.scss';
@import '../mixines.scss';
.baner{
    @include section(70px 0 41px);
    &-wrapper{
        @include flex(0, space-between);
    }
    &__img{
        display: grid;
        justify-items: right;
        &-hag{
            margin-bottom: 15px;
        }
    }
    &__h1{
        @include text(0, 1px, 44px, 800, $accent);
        margin: 20px 0 10px;
    }
    &__h4{
        margin-top: 0px;
        padding-left: 30px;
        font-size: 20px;
    }
    &__btn{
        margin-bottom: 50px;
    }
}