@import '../variables.scss';
@import '../mixines.scss';
.baner{
    padding: 70px 0 41px;
    background-color: $back-acc-col;
    &-wrapper{
        @include flex(0, space-between);
    }
    &__img{
        &-hag{
            margin-bottom: 15px;
        }
        &-chat{
            display: flex;
            justify-self: end;
        }
    }
    &__h1{
        @include text(0, 1px, 44px, 800);
        color: $accent;
        margin-bottom: 10px;
        margin-top:20px ;
    }
    &__h4{
        margin-top: 0px;
        padding-left: 30px;
        font-size: 20px;
    }
    &__btn{
        margin-bottom: 50px;
    }
}