@import '../variables.scss';
@import '../mixines.scss';
.condition{
    @include section(100px 0 90px);
    text-align: center;
    &__arr{
        @include flex(0,center);
        margin-bottom: 45px;
        &-h4{
            @include text(1.4, 0.2px, 20px, 400);
            margin:20px 0px 0px 120px;
        }
        &-img{
            margin: 50px 0 0 55px;
        }
    }
    &__marquee{
        &-wrapper{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
        }
        &-container{
            overflow: hidden;
            position: relative;
            &:hover{
                pointer-events: none;
            }
            &:hover .condition__marquee-inner{
                animation-play-state: paused;
            }
            &:hover .condition__marquee-inner-btn{
                opacity: 0.4;
                transform: scale(0.8);
            }
            &:hover .condition__marquee-inner-btn:hover{
                opacity: 1.1;
                transform: scale(1.1);
                z-index: 2;
                background-color: $accent;
                color: $back-color;
                cursor:pointer;
                pointer-events: all;
            }
        }
        &-track{
            @include flex(0,0,30px);
        }
        &-inner{
            @include flex(0,0,30px);
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-play-state: running;
            will-change: transform;
            &-btn{
                flex: 0 0 auto;
                @include bac-col-rad($back-color,40px);
                border: 2px solid $accent;
                margin:10px 0px;
                padding: 13px 27px;
                @include text(0, 0, 20px, 600,$accent,'Montserrat');
                transition: 
                    transform 0.3s ease,
                    opacity 0.3s ease;
            }
        }
    }
}