@import '../variables.scss';
.condition{
    padding: 100px 0 90px;
    background-color: $back-acc-col;
    text-align: center;
    &__arr{
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        &-h4{
            font-size: 20px;
            font-weight:400;
            line-height: 1.4;
            margin:20px 0px 0px 120px;
            letter-spacing: 0.2px;
        }
        &-img{
            margin: 50px 0 0 55px;
        }
    }
    &__marquee{
        &-wrapper{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            
        }
        &-container{
            overflow: hidden;
            position: relative;
            &:hover{
                pointer-events: none;
            }
            &:hover .condition__marquee-inner{
                animation-play-state: paused;
            }
            &:hover .condition__marquee-inner-btn{
                opacity: 0.4;
                transform: scale(0.8);
            }
            &:hover .condition__marquee-inner-btn:hover{
                opacity: 1.1;
                transform: scale(1.1);
                z-index: 2;
                background-color: $accent;
                color: $back-color;
                cursor:pointer;
                pointer-events: all;
            }
        }
        &-track{
            display: flex;
            gap:30px;
        }
        &-inner{
            display: flex;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-play-state: running;
            will-change: transform;
            gap: 30px;
            &-btn{
                flex: 0 0 auto;
                background-color: $back-color;
                border: 2px solid $accent;
                margin:10px 0px;
                color:$accent;
                border-radius: 40px;
                padding: 13px 27px;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 20px;
                transition: 
                    transform 0.3s ease,
                    opacity 0.3s ease;
                
            }
        }
    }
}