@import '../variables.scss';
@import '../mixines.scss';
.footer{
    @include section(55px 0);
    &-wrapper{
        @include grid(190px 160px 140px 150px 260px);
        justify-content: space-between;
    }
    &__socnet{
        &-link{
            &-item{
                margin-right: 25px;
            }
        }
        &-img{
            transition: all 0.1s;
            &:hover{
                transform: scale(1.2);
                transition: all 0.3s ease;
            }
        }
        &-logo{
            margin-bottom: 35px;
        }
    }
    &__min-text{
        @include text(0,0,14px,0,$text-color);
        margin:0px;
    }
    &__menu{
        list-style-type: none;
        padding: 0px;
        margin:0px;
        &-item{
            font-weight: 600;
            margin-bottom: 27px;
            &-link{
                @include text(0,0,18px,0,$accent);
                text-decoration: none;
            }
        }
    }
    &__doc{
        list-style-type: none;
        margin:0px;
        padding: 0px;
        &-item{
            margin-bottom: 20px;
        }
    }
    &__mail{
        &-item{
            margin-bottom: 23px;
        }
        &-text{
            margin-bottom: 10px;
        }
        &-link{
            @include text(0, 0, 18px, 600,$accent);
            text-decoration: none;
        }
    }
}