@import '../variables.scss';
@import '../mixines.scss';
.header{
    @include section(70px 0 0 0);
    @include position(sticky, 0px, 0,0,0, 1000);
    box-shadow: 0 5px 10px rgba(0,0, 0, 0);
    transition: all 0.3s ease;
    &.scrolled{
        box-shadow: 0 5px 10px rgba(0,0, 0, 0.5);
        padding: 30px 0px;
    }
    &-wrapper{
        display: grid;
        grid-template-columns: 310px auto 330px;
    }
    &-menu{
        @include flex(0, space-between);
        list-style-type: none;
        align-self: center;
        font-weight: 600;
        padding: 0px;
        z-index: 10;
        &.open{
            right: 0;
            margin:0;
        }
        &__item{
            &-link{
                text-decoration: none;
                color:$text-color;
                transition: font-weight 0.2s ease, color 0.2s ease;
                &:hover{
                    @include text(0,0,0,700,$accent);
                }
            }
            &:last-child{
                display: none;
            }
        }
    }
}
.btn-invers{
    @include text(0, 1px, 16px, 600, $accent, 'Montserrat');
    border:2px solid $accent;
    @include bac-col-rad($back-color,15px);
    width: 240px;
    height: 50px;
    justify-self: end;
    transition: background-color 0.2s ease;
    &:hover{
        background-color: rgba($text-color, 0.25);
    } 
    &:active{
        background-color: $accent;
        color: $back-color;
    }  
}
.burger{
    display: none;
    &.active{
        content:url(../../images/cross.svg);
    }
}