@import '../variables.scss';
@import '../mixines.scss';
.steps{
    @include section(95px 0 120px);
    &-wrapper{
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: repeat(5,auto);
        gap:150px
    }
    &__box{
        background: url(../../images/blob.svg) no-repeat 30px;
        @include flex(center);
        &-numb{
            height: auto;
            width: 89px;
            margin-right: 55px;
        }
        &-calendar{
            background: url(../../images/blobmin.svg) no-repeat 30px;
            @include flex(center);
            padding-right: 60px;
            &-img{
                margin-right: 20px;
            }
        }
    }
    &__img{
        &--end{
            justify-self: end;
        }
    }
}