@import '../variables.scss';
@import '../mixines.scss';
.telephone{
    padding: 125px 0 150px;
    &__img{
        @include position(absolute, 0,0,0,70%,2);
    }
    &__info{
        @include bac-col-rad($back-acc-col, 25px);
        @include position(relative,30px);
        padding: 55px 130px 72px 100px;
    }
    &__box{
        margin-bottom: 30px;
    }
    &-wrapper{
        @include grid(repeat(2, 1fr),0,50px);
    }
}