@import '../variables.scss';
.telephone{
    padding: 125px 0 150px;
    &__img{
        position: absolute;
        left: 70%;
        z-index: 2;
    }
    &__info{
        background-color:$back-acc-col;
        border-radius: 25px;
        position: relative;
        top: 30px;
        padding: 55px 130px 72px 100px;
    }
    &__box{
        margin-bottom: 30px;
    }
    &-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }
}