@import '../variables.scss';
@import '../mixines.scss';
.whywe{
    padding: 41px 0 190px;
    &__h2{
        margin-bottom: 80px;
    }   
}
.advant{
    &-wrapper{
        @include grid(repeat(3, 1fr),0,20px);
    }
    &__item{
        @include flex(0, center);
        position:relative;
        max-width: 380px;
    }
    &__item{
        &-box{
            @include position(relative,120px);
            @include bac-col-rad($light-accent, 20px);
            padding: 90px 30px 30px;
            text-align: center;
            align-self: start;
            &-h4{
                @include text(0, 0.7px, 24px, 600);
                margin-bottom: 15px;
            }
            &-text{
                @include text(0, 0, 18px, 400);
            }
            &--othpad{
                padding: 90px 60px 30px;
            }
        }
        &-img{
            @include position(absolute, 0,0,0,0,2);
            @include size(220px, 220px);
        }
    }
}