@import './variables.scss';
@media(max-width:1131px){
    .advantages{
        &__underline{
            left:0em;
        }
    }
}
@media(max-width:1180px){
    .header{
        padding-top: 30px;
    }
}
@media(max-width:1125px){
    .steps{
        &-wrapper{
            gap:100px;
        }
        &__img{
            width: 400px;
            height: auto;
        }
    }
    .question{
        &__item{
            &-head{
                background-position: right top 60%;
           }
        }
    }
}
@media(max-width:1096px){
    .advantages{
        &__underline{
            left:7em;
        }
    }
    .header{
        &-wrapper{
            grid-template-columns: 310px repeat(2, auto);
        }
    }
    .question{
        &__item{
            &-cont{
                padding-right: 170px;
            }
        }
    }
}
@media(max-width:1024px){
    .text{
        font-size: 16px;
    }
    .h2{
        font-size: 36px;
    }
    .h3{
        font-size: 20px;
    }
    .h4{
        font-size: 18px;
        &-regular{
            font-size: 18px;
        }
    }
    .btn{
        font-size: 18px;
    }
    .baner{
        &__h1{
            font-size: 40px;
        }
        &__h4{
            font-size: 16px;
        }
    }
    .question{
        &__item{
            &-cont{
                font-size: 16px;
            }
        }
    }
    .advantages{
        &__underline {
            width: 300px;
            left: 28.5em;
        }
    }
    .steps{
        &-wrapper{
            gap:80px;
        }
        &__img{
            width: 400px;
        }
       &__box{
            &-numb{
               width: 70px;
               height: 70px;
               margin-right: 30px; 
            }
            &-calendar{
                padding: 0;
            }
       }
    }
    .app{
        &-wrapper{
            gap:0;
        }
    }
}
@media(max-width:1020px){
    .advantages{
        &__underline{
            left:0em;
        }
    }
}
@media (max-width:1000px){
    .btn-invers{
        display: none;
    }
    .header{
        &-wrapper{
            grid-template-columns: auto auto;
        }
        &-menu{
            position:fixed;
            top:0;
            right: -100%;
            height: 100vh;
            width: 30%;
            background: white;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
            transition: right 0.5s ease;
            z-index: 1200;
            &__item{
                &:last-child{
                    display: inline;
                }
                padding-left: 50px;
                padding-bottom: 15px;
            }
        }
    }
    .burger{
        display: flex;
        align-self: center;
        justify-self: end;
        cursor: pointer;
        z-index: 1300;
    }
    .advantages{
        &__box{
            &-wthimg{
                &-two{
                    padding-right: 50px;
                }
            }
        }
    }
}
@media(max-width:988px){
    .advantages{
        &__underline{
            left:6em;
        }
    }
}
@media(max-width:960px){
    .baner{
        &__img{
            &-hag{
                width: 500px;
            }
        }
    }
    .app{
        &__img{
            width: 350px;
        }
    }
    .question{
        &__item{
            padding:6px 60px 15px;
            &-cont{
                padding-right: 90px;
            }
        }
    }
    .footer{
        &-wrapper{
            grid-template-rows: repeat(2,auto);
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "socnet start end"
            "mail doc ."
            ;
            row-gap: 20px;
        }
        &__socnet{
            grid-area: socnet;
        }
        &__menu{
            &--start{
                grid-area: start;
            }
            &--end{
                grid-area: end;
            }
        }
        &__doc{
            grid-area: doc;
        }
        &__mail{
            grid-area: mail;
        }
    }
}
@media(max-width:920px){
    .h4-regular{
        &--tel {
            padding-right: 170px;
        }
    }
}
@media(max-width:900px){
    .advant{
        &-wrapper{
            grid-template-columns: 1fr;
            row-gap: 120px;
            
        }
        &__item{
            justify-self: center;
            &-box{
                padding-top: 30px;
                &--othpad{
                    padding-top: 30px;
                }
            }
            &-img{
                width: 160px;
            }
        }
    }
    .steps{
        &-wrapper{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3,auto);
            gap:40px;
        }
        &__box{
            background-size: 115px;
        }
        &__img{
            display: none;
        }
    }
    .btn--steps-box{
        width: 350px;
    }
}
@media(max-width:880px){
    .baner{
        &-wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &-info{
            text-align: center;
        }
        &__h4{
            padding: 0px;
        }
    }
    .h2{
        &__baner{
            text-align: center;
        }
        &--app{
            text-align: center;
        }
    }
    .app{
        &-wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            &-box{
                justify-self: center;
            }
        }
        &__img {
            position:static;
        }
    }
    .h4{
        &--app{
            text-align: center;
        }
    }
}
@media(max-width:869px){
    .advantages{
        &-wrapper{
            gap:15px;
        }
        &__underline{
            left:17em;
        }
        &__box{
            padding-right: 20px;
            padding-left: 50px;
            &-img{
                width: 130px;
            }
        }
    }
}
@media(max-width:800px){
    .telephone{
        &__img{
            width: 200px;
        }
        &__info{
            padding: 35px 130px 72px 65px;
        }
    }
    .condition{
        &__arr{
            &-img {
                margin-left: 25px;
            }
            &-h4{
                margin-left: 70px;
            }
        }
    }
}
@media(max-width:768px){
    .text{
        font-size: 14px;
    }
    .h2{
        font-size: 32px;
        &--tel{
            width: 400px;
        }
        &--app {
            text-align: center;
        }
    }
    .h3{
        font-size: 18px;
    }
    .h4{
        font-size: 16px;
        &-regular{
            font-size: 16px;
            &--tel {
                padding-right: 130px;
            }
        }
    }
    .baner{
        &__h1{
            font-size: 36px;
        }
        &__h4{
            font-size: 16px;
        }
        &__img{
            &-hag{
                width: 400px;
            }
            &-chat{
                width: 60px;
            }
        }
    }
    .condition{
        &__arr{
            display: block;
            &-img {
                margin-left: 0px;
                margin-top: 25px;
                width: 35px;
                position: relative;
                left: 35%;
                transform: rotate(40deg);
            }
            &-h4{
                font-size: 16px;
                margin-left: 0px;
                text-align: center;
            }
        }
    }
    .question{
        &__item{
            &-head{
                padding-right: 60px;
            }
            &-cont{
                font-size: 14px;
            }
        }
    }
    .advantages{
        &__underline {
            left: 15em;
            width: 265px;
        }
        &__box {
            padding-left: 35px;
            &-img{
                margin-right: 30px;
            }
        }
    }
    .app__info-box {
        width: 440px;
    }
    .footer{
        &__menu-item-link {
            font-size: 16px;
        }
        &__mail-link{
            font-size: 16px;
        }
    }
    .btn{
        font-size: 16px;
        max-width: 300px ;
    }
}
@media(max-width:660px){
    .telephone{
        &__img{
            width: 160px;
        }
    }
    .h4-regular--tel {
        padding-right: 50px;
    }
    .advantages{
        &-wrapper{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3,auto);
        }
        &__box{
            &-one{
                grid-column: 1;
                grid-row: 2;
            }
            &-two{
                grid-column: 2;
                grid-row: 2;
            }
            &-wthimg{
                &-one{
                    grid-column: 1/-1;
                    grid-row: 1;
                }
                &-two{
                    grid-column: 1/-1;
                    grid-row: 3;
                }
            }
        }
    }
    .steps{
        &-wrapper{
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            gap:40px;
            justify-items: center;
        }
        &__box{
            display: block;
            text-align: center;
            width: 310px;
            background-position: top center;
            background-size: 70px;
            &-numb{
                margin:0 0 20px 0;

            }
            &-calendar{
                display: block;
                text-align: center;
                width: 310px;
                background-position: top center;
                background-size: 70px;
                &-img{
                    margin:0 0 20px 0;
                    width: 70px;
                }
            }
        }
    }
    .btn--steps-box {
        justify-self: center;
    }
}
@media(max-width:635px) and (min-width:565px){
    .h2--lowwidth {
        width: 90%;
    }
}
@media(max-width:630px){
    .h2--tel {
        width: 365px;
    }
    .footer{
        &-wrapper{
            grid-template-rows: repeat(3,auto);
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            "socnet mail"
            "start end"
            "doc doc"
            ;
            row-gap: 15px;
        }
        &__socnet{
            grid-area: socnet;
        }
        &__menu{
            &--start{
                grid-area: start;
            }
            &--end{
                grid-area: end;
            }
        }
        &__doc{
            grid-area: doc;
        }
        &__mail{
            grid-area: mail;
        }
    }
}
@media(max-width:600px){
    .question{
        &__item{
            padding:6px 30px 15px;
        }
    }
    .baner{
        &__img{
            &-hag{
                width: 300px;
            }
            &-chat{
                width: 50px;
            }
        }
    }
    .h4-regular--tel {
        padding-right: 0px;
    }
    .telephone{
        &__info{
            padding: 35px 50px 72px;
        }
    }
}
@media(max-width:565px){
    .advantages{
        &__underline {
            left: 0em;
        }
    }
}
@media(max-width:500px){
    .question{
        &__item{
            &-cont{
                padding-right: 5px;
            }
        }
    }
    .telephone{
        &-wrapper{
            column-gap: 20px;
        }
        &__info{
            top:15px;
            padding: 12px 12px 72px;
        }
        &__img {
            width: 100px;
        }
    }
}
@media(max-width:498px) and (min-width:463px){
    .advantages{
        &__underline {
            left: 5em;
        }
    }
}
@media(max-width:475px){
    .app__info-box {
        width: 370px;
        margin-bottom: 30px;
    }
}
@media(max-width:426px){
    .baner{
        &__img{
            &-hag{
                width: 250px;
            }
            &-chat{
                width: 40px;
            }
        }
    }
    .advantages{
        &__box {
            padding-left: 20px;
            &-img{
                width: 110px;
            }
        }
    }
    .telephone{
        &-wrapper{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
        }
    }
    .footer{
        &__socnet{
            &-link{
                &-item{
                    margin-right: 7px;
                }
            }
            &-logo{
                margin-bottom: 15px;
                width: 140px;
            }
        }
    }
}
@media(max-width:463px) and (min-width: 385px){
    .h2--lowwidth{
        width: 100%;
    }
}
@media(max-width:424px){
    .h2{
        font-size: 24px;
        &--tel {
            width: 250px;
        }
    }

    .advantages{
        &__underline {
            left: 11.5em;
            width: 200px;
        }
    }
}
@media(max-width:400px){
    .app{
        &__img {
            position:static;
        }
        &__info-box {
            width: 300px;
            &-img {
                margin-right: 15px;
            }
        }
    }
    .advantages{
        &-wrapper{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,auto);
        }
        &__box{
            &-one{
                grid-column: 1;
                grid-row: 2;
            }
            &-two{
                grid-column: 1;
                grid-row: 3;
            }
            &-wthimg{
                &-one{
                    grid-column: 1;
                    grid-row: 1;
                }
                &-two{
                    grid-column: 1;
                    grid-row: 4;
                }
            }
        }
    }
}
@media(max-width: 385px){
    .advantages{
        &__underline {
            left: 0em;
        }
    }
}
@media(max-width: 385px){
    .h2--lowwidth{
        width: 85%;
    }
}
@media(max-width: 354px){
    .advantages{
        &__underline {
            left: 4em;
        }
    }
}