@import './variables.scss';
@mixin flex($align:0, $just: 0,$gap:0) {
    display: flex;
    @if $align != 0 {
        align-items: $align;
    }
    @if $just != 0 {
        justify-content: $just;
    }
    @if $gap != 0 {
        gap: $gap;
    }
}
@mixin grid($col:0, $row:0, $col-gap:0,$row-gap:0,$gap:0){
    display: grid;
    @if $col != 0 {
        grid-template-columns: $col;
    }
    @if $row != 0 {
        grid-template-rows: $row;
    }
    @if $col-gap != 0 {
        column-gap: $col-gap;
    }
    @if $row-gap != 0 {
        row-gap: $row-gap;
    }
    @if $gap != 0 {
        gap: $gap;
    }
}
@mixin Medgrid($col:0, $row:0, $col-gap:0,$row-gap:0,$gap:0){
    @if $col != 0 {
        grid-template-columns: $col;
    }
    @if $row != 0 {
        grid-template-rows: $row;
    }
    @if $col-gap != 0 {
        column-gap: $col-gap;
    }
    @if $row-gap != 0 {
        row-gap: $row-gap;
    }
    @if $gap != 0 {
        gap: $gap;
    }
}
@mixin text($line:0, $letter: 0, $size:0, $weight:0, $color:0, $fam:0) {
    @if $line != 0 {
        line-height: $line;
    }
    @if $letter != 0 {
        letter-spacing: $letter;
    }
    @if $size != 0 {
        font-size: $size;
    }
    @if $weight != 0 {
        font-weight: $weight;
    }
    @if $color != 0 {
        color: $color;
    }
    @if $fam !=0{
        font-family: $fam;
    }
}
@mixin position($pos, $top: 0, $bot: 0,$r: 0,$l: 0,$z:0) {
    position: $pos;
    @if $top != 0 {
        top: $top;
    }
    @if $bot != 0 {
        bottom: $bot;
    }
    @if $r != 0 {
        right: $r;
    }
    @if $l != 0 {
        left: $l;
    }
    @if $z != 0 {
        z-index: $z;
    }
}
@mixin bac-col-rad($bac-color,$rad:0, $color:0){
    background-color: $bac-color;
    @if $rad != 0 {
        border-radius: $rad;
    }
    @if $color != 0 {
        color: $color;
    }
}
@mixin section($pad){
    padding: $pad;
    background-color: $back-acc-col;
}
@mixin size($w, $h){
    width: $w;
    height: $h;
}