@import './variables.scss';
@import './mixines.scss';
body{
    margin: 0px;
    @include text(0,0,0,0,$text-color,'Montserrat');
    &.lock{
        overflow: hidden;
    }
}
.container{
    margin:0px auto;
    max-width: 1180px;
}
.text{
    @include text(1.4, 0.3px, 18px, 0);
    &--app{
        margin: 0px;
        letter-spacing: 0.2px;
    }
}
.h2{
    @include text(1.3, 0.7px, 40px, 800,$accent);
    text-align: center;
    margin: 0px;
    &--baner{
        @include text(1.4, 0px,0,0,$text-color);
        margin: 0px 0px 80px 0px;
        text-align: start;
    }
    &--left{
        text-align: left;
    }
    &--steps{
        margin-bottom: 80px;
    }
    &--question-marg{
        margin-bottom: 60px;
    }
    &--app{
        margin-bottom: 35px;
    }
    &--tel{
        margin-bottom: 15px;
    }
    &--advantages{
        width: 80%;
    }
}
.h3{
    @include text(1.4, 0.3px, 24px, 600);
    margin: 0px;
    &--marg-b10{
        margin-bottom: 10px;
    }
    &--marg-b15{
        margin-bottom: 15px;
    }
}
.h4{
    @include text(1.4, 0.2px, 20px);
    &-regular{
        @include text(1.4, 0.2px, 20px, 400);
        margin: 0px;
        &--tel{
            padding-right: 210px;
            margin-bottom: 50px;
        }
        &--marg{
            margin-top: 10px;
            margin-bottom: 60px;
        }
        &--marg-b10{
            margin-bottom: 10px;
        }
    }
    &--let-sp-no{
        letter-spacing: 0px;
        margin-bottom: 15px;
    }
    &--app{
        margin-bottom: 50px;
    }
}
.btn{
    @include text(0, 0.4px, 20px, 700,$back-color,'Montserrat');
    @include bac-col-rad($accent,15px);
    border-color: $accent;
    max-width: 420px;
    @include size(380px,70px);
    @include flex(center,center);
    text-decoration: none;
    box-shadow: 10px 15px $light-accent;
    transition: box-shadow 0.2s ease;
    &:hover{
        box-shadow: 5px 5px $light-accent;
    }
    &:active{
        box-shadow: none;
    }
    &--steps-box{
        justify-self: end;
        width: 410px;
    }
    &--center{
        @include flex(center,center);
        justify-self: center;
    }
}
@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}
@keyframes scroll-right{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform:translateX(0);
    }
}
@import './content/header.scss';
@import './content/baner.scss';
@import './content/whywe.scss';
@import './content/condition.scss';
@import './content/advantages.scss';
@import './content/steps.scss';
@import './content/question.scss';
@import './content/app.scss';
@import './content/telephone.scss';
@import './content/footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import './media.scss';